<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2026-06-30T11:38:24Z</date>
	<key>WorkspacePath</key>
	<string>/Users/martindixon/Documents/Codex/2026-06-29/i/SDK/examples/ios-consumer-smoke</string>
</dict>
</plist>
